<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>책 추가</title>
</head>
<body>
<div class="addBookContainer">
    <div>
        <h3>책 상세 정보</h3>
        <form th:object="${updateInventoryDto}" th:action="@{/admin/inventory/edit}" method="post">

            <p>
                <img th:src="${inventoryForAdminDto.thumbnail}" alt="책 썸네일" style="width: 150px; height: auto;">
            </p>
            <input type="hidden" th:field="*{inventoryId}">

            <p><strong>제목:</strong> <span th:text="${inventoryForAdminDto.title}"></span></p>
            <p><strong>ISBN:</strong> <span th:text="${inventoryForAdminDto.isbn}"></span></p>
            <p><strong>저자:</strong> <span th:text="${inventoryForAdminDto.authors}"></span></p>
            <p><strong>출판사:</strong> <span th:text="${inventoryForAdminDto.publisher}"></span></p>
            <p><strong>등록일:</strong> <span th:text="${#temporals.format(inventoryForAdminDto.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <p><strong>수정일:</strong> <span th:text="${#temporals.format(inventoryForAdminDto.lastModifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <p><strong>등록자:</strong> <span th:text="${inventoryForAdminDto.createdBy}"></span></p>
            <p><strong>수정자:</strong> <span th:text="${inventoryForAdminDto.lastModifiedBy}"></span></p>
            <p><strong>가격:</strong> <span th:text="${inventoryForAdminDto.price} + '원'"></span></p>
            <p><strong>판매 가격:</strong> <span th:text="${inventoryForAdminDto.salePrice} + '원'"></span></p>
            <p><strong>번역자:</strong> <span th:text="${inventoryForAdminDto.translators}"></span></p>

            <div>
                <label for="quantity"><strong>수량</strong></label>
                <input type="text" id="quantity" th:field="*{quantity}">
                <div th:errors="*{quantity}"></div>
            </div>

            <p>
                <strong>판매 상태:</strong>
                <select th:field="*{status}">
                    <option value="ON_SALES">정상판매</option>
                    <option value="OOS">재고없음</option>
                    <option value="OOP">절판</option>
                </select>
            </p>
            <input type="submit" value="수정">
        </form>
    </div>
    <br>
    <input type="button" onclick="location.href='/admin/inventory'" value="이전으로">
    <form id="logoutForm" th:action="@{/admin/inventory/delete/{inventoryId}(inventoryId=${updateInventoryDto.inventoryId})}" th:method="post">
        <button id="logoutBtn" type="submit">삭제</button>
    </form>
</div>
</body>
</html>
